# Build output
build/

.cache

components/

# Managed components (downloaded deps)
managed_components/

# SDK config backup
# sdkconfig.old

# IDE / Editor
# .vscode/
.idea/
# .clangd
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
