[submodule "components/esplog"]
	path = components/esplog
	url = https://github.com/cmsun/esplog
[submodule "components/micro_ros"]
	path = components/micro_ros
	url = https://github.com/micro-ROS/micro_ros_espidf_component
	branch = humble
